@import url(components/buttons.css);
/*Custom navbar*/
.da-navbar {
  border-bottom: 1px solid #eee; }
  .da-navbar .navbar-nav > li > a {
    color: #999999; }
    .da-navbar .navbar-nav > li > a:hover {
      color: #4D4D4D;
      background: #fafafa; }
  .da-navbar .navbar-nav > li.active > a {
    color: #4D4D4D;
    background: #fafafa; }
  .da-navbar .navbar-brand {
    color: #999999; }
    .da-navbar .navbar-brand:hover {
      color: #4D4D4D;
      background: #fafafa; }

/*Main hero unit*/
.da-hero-main {
  margin-top: 200px;
  margin-bottom: 200px; }

.da-hero-main h1 {
  margin-bottom: 50px; }

.da-hero-main p {
  font-size: 22px; }

/*Main hero unit*/
.da-hero-secondary {
  margin-top: 100px;
  margin-bottom: 100px; }

.da-hero-secondary h1 {
  margin-bottom: 50px; }

.da-hero-secondary p {
  font-size: 26px; }

/*Container with image*/
.container.da-image-right {
  position: relative; }

.container.da-image-right img {
  position: absolute;
  right: 0;
  bottom: 0; }

.container.da-image-left {
  position: relative; }

.container.da-image-left img {
  position: absolute;
  left: 0;
  bottom: 0; }

/*Row containers*/
.da-row-container.da-row-main {
  padding: 250px 0px; }

.da-row-container.da-row-default {
  /*background: #eee;*/
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.da-row-container.da-row-inverse {
  background: #1d6fb7;
  color: #fff; }

/*footer*/
.da-footer {
  border-top: 1px solid #ccc; }

.half-rule {
  width: 100px;
  margin: 40px auto; }
