/*Basic buttons override*/

/*Primary button*/
.btn.btn-outline{
	background: transparent;

	color: #1d6fb7;
	border: 2px solid #1d6fb7;
}
.btn.btn-outline:hover{
	color: white;

	background: #1d6fb7;
}