/*Container with image*/
.container{	
	&.da-image-right{
		position: relative;
		
		img{
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	&.da-image-left{
		position: relative;
		
		img{
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

}

/*Row containers*/
.da-row-container{
	&.da-row-main{
		padding: 250px 0px;
		// background-image: url(../images/resources/top-part.png), url(../images/resources/bottom-part.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center, bottom center;

		.btn-group{
			margin-top: 30px;
		}

	}
	&.da-row-default{
		/*background: #eee;*/
		border-top: 1px solid #ccc;
		// border-bottom: 1px solid #ccc;
	}
	&.da-row-cta{
		background: #eee;
	}
	&.da-row-inverse{
		background-color: #0b89ce;
		color: #fff;
	}

	&.da-row-size1{
		padding: 50px 0px;
	}
}






section{

	&.page-header{
		border: none;
		margin: 0;
		padding: 0;

		h1{
			margin-top: 0;
		}

		p.text{
			margin-bottom: 0;
		}

		.container{
			position: relative;
			z-index: 1;
		}

		.page-header-cover{
			position: absolute;
			top: 0;
			z-index: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			opacity: 0.3;

			img{
				width: 100%;
				margin-top: -20%;
			}
		}
	}

}


// Colored sections
section{
	padding: 50px 0;
	position: relative;

	&.section-primary{
		background: #1d6fb7; 
		color: white;

		a{
			color: white;
		}
	}

	&.section-default{
		border-top: 1px solid #ccc;
	}

	// &.section-info{
	// 	background: $section_info;
	// 	color: $violet;
	// }

	// &.section-success{
	// 	background: $section_success;
	// 	color: $violet;
	// }

	// &.section-danger{
	// 	background: $section_danger;
	// 	color: $violet;
	// }

	// &.section-dream{
	// 	background: $section_dream;
	// 	color: $weak_pink;
	// }

	$section_max_size: 10;
	$section_atom: 30px;
	// Section sizes
	@for $size from 1 through $section_max_size{
		&.section-size-#{$size}{
			padding: $size * $section_atom 0px;
		}		
	}
}


