@import url(http://fonts.googleapis.com/css?family=Courgette);

@import "variables";
@import "helpers/animations";

@import "components/buttons";
@import "components/row_container";
@import "components/forms";
@import "components/typography";

body{
	padding-top: 50px;
	font-family: $font_brand_weak;
}

#captain{
	position: relative;
	background-image: url(../images/resources/captain-character-02.png), url(../images/resources/background-pattern.png);
	background-size: 59%, 422px;
	background-position: left center;
	background-repeat: no-repeat, repeat;

	-webkit-animation: background-moving 20s linear infinite;
}

.vertically-aligned{
	width: 100%;
}

/*Custom navbar*/
.da-navbar{
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
	background: white;
	.navbar-nav{
		>li{
			>a{
				color: #999999;

				&:hover{
					color: #4D4D4D;
					background: #fafafa;
				}

			}

			&.active{
				>a{
					color: #4D4D4D;
					background: #fafafa;
				}
			}
		}
	}

	.navbar-brand{
		color: $primary_color;
		font-family: $font_brand_strong;
		white-space: nowrap;

		.deployable-application{
			border-radius: 0;
			font-family: "Helvetica";
			font-weight: 200;
			font-size: 12px;
			position: relative;
			top: -2px;
			padding: 3px 7px;
		}


		&:hover{
			color: #4D4D4D;
			background: #fafafa;
		}
	}
}

/*footer*/
.da-footer{
	border-top: 1px solid #ccc;
}

/*Main hero unit*/
.da-hero-main{
	margin-top: 200px;
	margin-bottom: 200px;

	h1{
		margin-bottom: 50px;
	}
}

/*Main hero unit*/
.da-hero-secondary{
	margin-top: 100px;
	margin-bottom: 100px;

	h1{
		margin-bottom: 50px;
	}

}

.img-responsive{
	margin: auto;
}

.half-rule {
width: 100px;
margin: 40px auto;
}

#CaptainEmailForm{

	.da-form-success-message{
		display: none;
	}

	&.success{
		.da-form-fieldset{
			display: none;
		}

		.da-form-success-message{
			display: block;
		}
	}

}